Package: songwrite2
Version: 0.4-1
Architecture: all
Maintainer: Serhat Rıfat Demircan <demircan.serhat@gmail.com>
Installed-Size: 3276
Depends: python, python-support (>= 0.90.0), python-editobj2, python-gtk2, python-cairo, evince | postscript-viewer, timidity | playmidi | pmidi
Section: sound
Priority: optional
Homepage: http://home.gna.org/oomadness/en/songwrite/
Description: guitar tablature editor and player
 Songwrite 2 is a music score and songbook editor. This software is
 especially designed for musicians who do not master solfege
 and to Linuxian musicians. Songwrite 2 can edit staffs, but also
 tablatures (for guitar, bass, banjo, lyre, diatonic accordion,...) and
 flute fingerings (for tin whistle, recorder,...); it also manages
 lyrics. Songwrite 2 can play and print the partitions.
