[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Songwrite 2
Comment=Song and tablature editor and player
Comment[fr]=Édite et joue des chansons et des tablatures
Type=Application
Terminal=false
Exec=songwrite2
Icon=songwrite2.png
Categories=Application;AudioVideo;Audio;Music;AudioVideoEditing;Player;
MimeType=application/x-songwrite;
